#car-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.car {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.car h2 {
    margin-top: 0;
}

.car p {
    margin-bottom: 0;
}

#logout-button, #view-profile-button {
    position: fixed; 
    top: 10px;
    right: 10px;
    z-index: 1000;
    cursor: pointer;
}

#view-profile-button {
    top: 60px; 
}
